.customers {
  background-color: getColor("page-quarternary-background-color");

  &__heading {
    color: getColor("text-primary-color");
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    background-color: getColor("page-quarternary-background-color");
  }
  &__list {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    align-items: center;
    padding: 0 15px;
  }
  &__item {
    fill: getColor("social-links-primary-icon-color");
    background-color: getColor("page-quarternary-background-color");
    border: 1px solid getColor("social-links-primary-icon-color");
    border-radius: 4px;
    padding: 17.71px 32px 14.25px 32px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: getColor("object-primary-background-color");
      border: 1px solid getColor("object-primary-background-color");
      cursor: pointer;
    }
  }
}
