$hoverTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$activeTransition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
$shadowTransition: box-shadow 0.15s ease-in;
$defaultNone: none;
$fontFamilyPrimary: 'Roboto', sans-serif;
$fontFamilySecondary: 'Raleway', sans-serif;
$letterSpacing: 0.03em;
$fullWidth: 100%;
$fullHeight: 100%;
